<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Records </title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>

<nav>
    <h2>LibraryDesk</h2>

    <div>
        <a href="/">Home</a>
        <a href="/books">Books</a>
        <a href="/students">Students</a>
        <a href="/issue">Issue Book</a>
        <a href="/return">Return Book</a>
        <a href="/records">Records</a>
        <a href="/login">Login</a>
    </div>
</nav>

<section class="records">
    <h1>Borrow Records</h1>
    <p>View all library borrowing activity</p>

    <table>
        <tr>
            <th>Student</th>
            <th>Book</th>
            <th>Issue Date</th>
            <th>Due Date</th>
            <th>Return Date</th>
            <th>Late Fees</th>
        </tr>

        <tr th:each="record : ${records}">
            <td th:text="${record.student.studentName}"></td>
            <td th:text="${record.book.title}"></td>
            <td th:text="${record.issueDate}"></td>
            <td th:text="${record.dueDate}"></td>
            <td th:text="${record.returnDate}"></td>
            <td th:text="${record.lateFees}"></td>
        </tr>

    </table>

</section>


<footer>

    <h3>LibraryDesk</h3>

    <p>Making library management simple and organized.</p>

    <div>
        <a href="/">Home</a>
        <a href="/books">Books</a>
        <a href="/students">Students</a>
        <a href="/login">Login</a>
    </div>

    <p>© 2026 LibraryDesk. All rights reserved.</p>

</footer>

</body>
</html>